@charset "utf-8";
/*css document*/
body{
    font-family: "calibri", sans-serif;
    background-color: black;
    color: white;
    margin: 0px;

}
nav.navbar{
    background-color:#702D00;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    overflow: hidden;
}


ul.navbar-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.margin{
    margin-left: 10%;
    margin-right: 10%;
}

div.nav-item{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}

div.nav-item a.nav-link{
    color: white;
    text-align: center;
    vertical-align: 50%;
    text-decoration: none;
    font-size: x-large;
}


div.beside{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
}



img{
    height:auto;
    max-width:100%;

}

img.normal{
    height: auto;
    width: auto;
}

img.small {
    max-width: 50%;
    height: auto;

}

img.medium {
    max-width: 70%;
}




div.separator .sub1, .sub2{
    display: inline-block;

}


div.separatorLine{
    vertical-align: 25%;
    padding: 1px;
    background-color: white;
    margin-bottom: 10px;
}

.post-item{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 10px;

}
.post-item:hover{
    background-color: #333333;
}
.post-title{
    text-align:start;
    margin: 0px;
    width: max-content;
}


.post-image{
    margin-top: -25px;
    float: inline-end;
    max-width: 200px;
    max-height: 50px;
}
.description{
    text-align: start;
    width: max-content;
    margin: 0px;

    
}  
.description, .post-image{
    display: inline-block;
    vertical-align: middle;

}

.fancy-heading{
    font-family: Arial-Black;
    font-weight: bold;
    
}

.p1{
    font-size: 25px;
}
