@charset "utf-8";
/*css document*/
body{
    font-family: "calibri", sans-serif;
    background-color: black;
    color: white;
    margin: 0px;

}
nav.navbar{
    width: 100%;
    background-color:#702D00;
    padding: 10px;
    padding-right: 0px;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;

}

.margin{
    margin-left: 10%;
    margin-right: 10%;
}

div.nav-item{
    display: inline;
    padding: 0px 10px;
}

div.nav-item a.nav-link{
    color: white;
    text-align: center;
    vertical-align: 50%;
    text-decoration: none;
    font-size: x-large;
}


div.beside{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
}



img{
    height:auto;
    max-width:100%;

}

img.normal{
    height: auto;
    width: auto;
}

img.small {
    max-width: 50%;
    height: auto;

}

img.medium {
    max-width: 70%;
}




div.separator .sub1, .sub2{
    display: inline-block;

}


div.separatorLine{
    vertical-align: 25%;
    padding: 1px;
    background-color: white;
    margin-bottom: 10px;
}

.post-item{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 10px;

}
.post-item:hover{
    background-color: #333333;
}
.post-title{
    text-align:start;
    margin: 0px;
    width: max-content;
}


.post-image{
    margin-top: -25px;
    float: inline-end;
    max-width: 200px;
    max-height: 50px;
}
.description{
    text-align: start;
    width: max-content;
    margin: 0px;

    
}  
.description, .post-image{
    display: inline-block;
    vertical-align: middle;

}

.contact-form{
    border: 2px solid white;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.input-field{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    color: white;
    
}

::placeholder{
    color: white;
}

#email, #inquiry-type, #message{
    display: block;
    margin: 15px 5%;
    width: 90%;

}

#message{
    border: 2px solid white;
    max-width: 90%;
    resize: vertical;
    
}

#submit-btn{
    display: block;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    margin: auto

}
