@charset "utf-8";
/*css document*/
body{
    font-family: "calibri", sans-serif;
    background-color: black;
    color: white;
}
nav.navbar{
    background-color:#FF7F27;
    padding: 10px;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;

}

div.nav-item{
    display: inline;
    padding: 0px 10px;
}

div.nav-item a.nav-link{
    color: white;
    text-align: center;
    vertical-align: 50%;
    text-decoration: none;
    font-size: x-large;
}


div.beside{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
}



img{
    height:auto;
    max-width:100%;

}

img.normal{
    height: auto;
    width: auto;
}

img.small {
    max-width: 50%;
    height: auto;

}

img.medium {
    max-width: 70%;
}


div.separator .sub1, .sub2{
    display: inline-block;

}


div.separatorLine{
    vertical-align: 25%;
    padding: 1px;
    background-color: white;
    margin-bottom: 10px;
}

.post-item{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 10px;

}
.post-title{
    text-align:start;
    margin: 0px;
    width: max-content;
}


.post-image{
    margin-top: -25px;
    float: inline-end;
    max-width: 200px;
    max-height: 50px;
}
.description{
    text-align: start;
    width: max-content;
    margin: 0px;

    
}  
.description, .post-image{
    display: inline-block;
    vertical-align: middle;

}